<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="unittests">
            <directory>./tests/unit</directory>
        </testsuite>
        <testsuite name="dailycodingtests">
            <directory>./tests/DailyCodingTests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
<!--            <exclude>vendor</exclude>-->
        </whitelist>
    </filter>
</phpunit>